### Essay Analysis

In [1]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_8ed6d5144e994f688047d14e0191424c = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='cbWuyrPD0S1tMsJxRN3QEXFkECm1AkPaijSlukLn8meI',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_8ed6d5144e994f688047d14e0191424c.get_object(Bucket='testproject-donotdelete-pr-rxzkuqzrueushk',Key='essayConcat.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_0 = pd.read_excel(body)
df_data_0.head()

,X1,ARROBA,N00,TERM,EXPERIENCIA,METAS,P1,DEPORTIVAS,DEPORTIVAS_ACTU,P2,...,%Beca,Inglés,DIng3y4,DIng5y6,DLengExt,DTEC,FTE,Ensayo,Curriculo,essayConcat
0,9398,@03183694,N00645047,201813,Cuando cumplí 15 años estaba ansiosa por conoc...,Me veo en un futuro como una profesionista exi...,b,Soy parte del equipo de futbol en mi escuela I...,S,b,...,60.000000,Lengua extranjera,0,0,1,0,1.153846,25,15,Cuando cumplí 15 años estaba ansiosa por conoc...
1,895,@02548142,N00638635,201813,Considero que el baloncesto es la experiencia ...,Considero que puedo aportar a la comunidad est...,d,He obtenido varios logros en el baloncesto gra...,S,a,...,100.000000,Inglés remedial III,1,0,0,0,0.846154,19,25,Considero que el baloncesto es la experiencia ...
2,3546,@02840940,N00597655,201813,Aunque durante toda mi vida escolar he trabaja...,Quiero ser Ingeniero Mecatronico porque quiero...,b,En el Instituto Cumbres Piedras Negras he part...,S,b,...,15.000989,Sin información,0,0,0,0,0.692308,15,15,Aunque durante toda mi vida escolar he trabaja...
3,2815,@02829415,N00591191,201813,"Experiencia de vidaMi colegio, el Instituto Cu...",CompromisoDesde que comencé mi vida estudianti...,c,"He participado en 2 Torneos de la Amistad, com...",S,a,...,59.999829,Sin información,0,0,0,0,1.000000,25,25,"Experiencia de vidaMi colegio, el Instituto Cu..."
4,390,@02459560,N00556452,201813,'Un cuerpo pequeño de espíritu determinado enc...,"'Vive como si fueras a morir mañana, aprende c...",b,En mi transcurso de la primer en el nivel depo...,S,b,...,20.000863,Inglés remedial IV,1,0,0,0,1.000000,6,15,'Un cuerpo pequeño de espíritu determinado enc...